@import "../../styles/variables.scss";

.credentials {
  margin-top: 16px;
  text-align: center;

  .name {
    color: white;
    line-height: 24px;
    font-size: 1.1rem;
    font-weight: 700;
  }

  .position {
    color: $-secondary-color;
  }

  @include for-phone-only {
    margin: 8px;
    text-align: left;
  }
}
