@import "../../styles/variables.scss";

.footer {
  height: 90px;
  justify-content: center;
  display: flex;
  align-items: center;

  a {
    margin: 0px 16px;
    display: inline-block;
  }

  svg {
    color: white;
    font-size: 1.6rem;
  }

  @include for-phone-only {
    height: 45px;
  }
}
